<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.gene.commercial.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>SPECIFY YOUR OWN Scheme</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.gene.${PRODUCT_NAME:rfc1034identifier}</string>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>100</string>
	<key>LOG_LEVEL</key>
	<string>DEBUG</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LoginViewColor</key>
	<dict>
		<key>backgroundColor</key>
		<string>98754A</string>
		<key>loadingIndicatorColor</key>
		<string>White</string>
		<key>navigationBarColor</key>
		<string>4F3114</string>
	</dict>
	<key>UIApplicationExitsOnSuspend</key>
	<true/>
	<key>UIMainStoryboardFile</key>
	<string>MainStoryboard_iPhone</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>MainStoryboard_iPad</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UpgradeURL</key>
	<dict>
		<key>DEV</key>
		<string>https://b2bdev.gene.com/webcentral/iphoneApps/appstore/appdist/${PRODUCT_NAME}.plist</string>
		<key>PRD</key>
		<string>https://b2b.gene.com/webcentral/iphoneApps/appstore/appdist/${PRODUCT_NAME}.plist</string>
		<key>SQA</key>
		<string>https://b2bqa.gene.com/webcentral/iphoneApps/appstore/appdist/${PRODUCT_NAME}.plist</string>
		<key>UAT</key>
		<string>https://b2bua.gene.com/webcentral/iphoneApps/appstore/appdist/${PRODUCT_NAME}.plist</string>
	</dict>
	<key>apiKey</key>
	<dict>
		<key>DEV</key>
		<string>d4474cf2a5ab61971196763441d</string>
		<key>PRD</key>
		<string>fc447464202c7ab312062dff866</string>
		<key>SQA</key>
		<string>d4474cf2a5ab61971196763441d</string>
		<key>UAT</key>
		<string>fc447464202c7ab312062dff866</string>
	</dict>
	<key>appCopyright</key>
	<string>© 2013, Genentech Inc</string>
	<key>appDesc</key>
	<string>YOUR APP DESCRIPTION</string>
	<key>env</key>
	<string>PRD</string>
	<key>esbServiceHost</key>
	<dict>
		<key>DEV</key>
		<string>https://b2bqa.gene.com/esb/invoke/GneENT_Dispatcher.Services/invokeDispatcher?cType=json</string>
		<key>PRD</key>
		<string>https://b2b.gene.com/esbDispatcher?cType=json</string>
		<key>SQA</key>
		<string>https://b2bqa.gene.com/esbitDispatcher?cType=json</string>
		<key>UAT</key>
		<string>https://b2bua.gene.com/esbDispatcher?cType=json</string>
	</dict>
	<key>supportOffline</key>
	<true/>
	<key>useStaticData</key>
	<true/>
</dict>
</plist>
